.btn {
  font-size: 16px;
  background: $main_color;
  height: 55px;
  padding: 12px 25px;
  transition: 0.4s all;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 300;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  &:hover {
    box-shadow: 3px 3px 15px $main_color;
  }
}
