.contacts {
  width: 100%;
  &__wrapper {
    width: 100%;
    padding: 30px 36px 40px 50px;
    display: grid;
    grid-template-columns: 455px 532px;
    column-gap: 65px;
  }

  &__title {
    text-align: center;
    width: 350px;
    margin: 30px auto;
    // position: relative;
    // margin-left: 10px;
    // margin-top: 10px;
    // font-weight: 700;
    // @include before_circle;
  }

  &__subtitle {
    display: block;
    background: linear-gradient(90deg, #e100ff 0, #1590ee 100%);
    background-clip: text;
    color: transparent;
    font-weight: 500;
    font-size: 32px;
    line-height: 60px;
    width: 100%;
    // color: azure;
  }

  &__line {
    width: 60px;
    height: 2px;
    background: $main_color;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 50px;
  }

  &__way {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    margin-left: 40px;
    color: azure;
    &.after-logo {
      &::after {
        content: "";
        position: absolute;
        background-image: url("../../icons/contact-icon.svg");
        background-repeat: no-repeat;
        top: 5px;
        left: -38px;
        right: 0;
        bottom: 0;
      }
    }
    &.without-logo {
      margin-left: 0;
    }
  }

  &__social {
    margin-top: 20px;
    margin-bottom: 20px;

    svg {
      width: 30px;
      height: 30px;
      transform: rotate(90deg);
      margin-right: 20px;
      path {
        fill: #9900ff;
      }
    }
  }

  &__form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 256px);
    grid-template-rows: 45px 194px 45px;
    column-gap: 20px;
    row-gap: 26px;

    &-input {
      position: relative;

      input {
        padding: 0 20px;
        width: 256px;
        height: 45px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        border: 1px solid #414a5a;
        border-radius: 10px;
        background: transparent;
        color: #fff;
        margin: 0 0 26px 0;
        padding: 20px 25px;
        outline: none;
        resize: none;
      }

      label {
        display: block;
        position: absolute;
        min-width: 75px;
        height: 18px;
        padding: 0 8px;
        background-color: #fff;
        top: -9px;
        left: 12px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
      }
    }

    &-textarea {
      position: relative;
      grid-column: 1/3;

      textarea {
        width: 532px;
        height: 194px;
        padding: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        border: 1px solid #414a5a;
        border-radius: 20px;
        background: transparent;
        color: #fff;
        margin: 0 0 26px 0;
        padding: 20px 25px;
        outline: none;
        resize: none;
      }

      label {
        display: block;
        position: absolute;
        min-width: 75px;
        height: 18px;
        padding: 0 8px;
        background-color: #fff;
        top: -9px;
        left: 12px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
      }
    }

    &-button {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 207px 295px;
      column-gap: 30px;

      .btn {
        border: none;
        // width: 219px;
        // height: 45px;
        font-weight: 700;
        font-size: 16px;
        // line-height: 21px;
        color: white;
        font-weight: 400;
      }

      &-policy {
        display: flex;
        align-items: center;

        input {
          margin-right: 7px;
        }

        span {
          align-self: center;
          font-weight: 500;
          font-size: 12px;
          line-height: 12px;
          color: white;
        }
      }
    }
  }
}
