@media (max-width: 1439px) {
  .container {
    max-width: 1024px;
  }
  .promo {
    &__title {
      font-size: 84px;
      letter-spacing: 1.3px;
      line-height: 95px;
    }
    &__text {
      font-size: 22px;
    }
    &__btns {
      margin-top: 40px;
    }
  }

  .sidepanel {
    left: 37px;
  }
}

@media (max-width: 1200px) {
  // .container {
  //   max-width: 960px;
  // }
  .sidepanel {
    display: none;
  }

  .promo {
    padding-left: 20px;
    padding-right: 20px;
    &__title {
      font-size: 78px;
      letter-spacing: 1.2px;
      line-height: 95px;
    }
    &__text {
      font-size: 22px;
    }
    &__btns {
      margin-top: 40px;
    }
  }

  .descr {
    &__aboutMe {
      width: 477px;
      min-height: 240px;
    }

    &__gridContainer {
      grid-template-columns: 453px 477px;
      column-gap: 30px;
    }

    &__items {
      width: 477px;
      grid-template-columns: repeat(2, minmax(240px, auto));
      column-gap: 0px;
      row-gap: 10px;
    }

    &__item {
      width: 239px;
      grid-template-columns: 35px 190px;
      column-gap: 15px;
    }
  }

  .price {
    &__items {
      column-gap: 150px;
    }
  }

  .contacts {
    &__wrapper {
      padding: 60px 0px 40px 0px;
      display: grid;
      grid-template-columns: 400px 532px;
      column-gap: 25px;
    }

    &__img {
      width: 400px;
      height: 550px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__form {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(2, 256px);
      grid-template-rows: 45px 150px 45px;
      column-gap: 20px;
      row-gap: 26px;

      &-textarea {
        position: relative;
        grid-column: 1/3;

        textarea {
          width: 532px;
          height: 150px;
          padding: 20px;
          font-weight: 500;
          line-height: 18px;
          resize: none;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .navigation {
    &__list {
      padding: 0 10px 0 0;
    }
    & .hidden {
      display: none;
    }
    // display: none;
  }
  .hamburger {
    display: flex;
  }
  // .promo {
  //   &__title {
  //     font-size: 63px;
  //     line-height: 75px;
  //   }
  //   &__text {
  //     font-size: 18px;
  //     line-height: 24px;
  //   }
  //   &__btns {
  //     margin-top: 35px;
  //     margin-bottom: 25px;
  //   }
  // }
  .promo {
    margin: 80px 0 0 0;
    height: auto;
    &__main {
      flex-direction: column;
    }
    &__description {
      padding: 30px 0 0 0;
      width: 100%;
    }
    &__photo {
      padding: 10px 0 0 0;
      width: 80%;
      margin: 0 auto;
    }
    &__title {
      text-align: center;
      //   font-size: 36px;
      line-height: 75px;
    }
    &__text {
      width: 100%;
      text-align: center;
    }
    &__btns {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .usage {
    &__subtitle {
      font-size: 24px;
    }

    &__item {
      width: 200px;
      height: 200px;
      padding: 10px 10px 10px 10px;
      border-radius: 20px;
      &-img {
        display: block;
        margin: 0 auto;
      }
      &-header {
        margin-top: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        //   color: white;
      }
      &-text {
        margin-top: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 13px;
        //   color: white;
      }
    }
  }

  .price {
    &__items {
      padding: 45px 0 0 0;
      display: grid;
      grid-template-columns: repeat(2, 345px);
      grid-template-rows: repeat(3, 44px);
      column-gap: 25px;
      row-gap: 15px;
    }
  }

  .contacts {
    &__wrapper {
      padding: 0px 0px 40px 0px;
      display: grid;
      grid-template-columns: 534px;
      column-gap: 25px;
    }

    &__img {
      display: none;
      width: 400px;
      height: 550px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__form {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 256px;
      grid-template-rows: 45px 150px 45px;
      column-gap: 20px;
      row-gap: 26px;

      &-textarea {
        position: relative;
        grid-column: 1/3;

        textarea {
          width: 532px;
          height: 150px;
          padding: 20px;
          font-weight: 500;

          line-height: 18px;
          resize: none;
        }
      }
    }
  }
  footer {
    margin-top: 130px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 566px;
  }

  // .promo {
  //   margin: 80px 0 0 0;
  //   &__main {
  //     flex-direction: column;
  //   }
  //   &__description,
  //   &__photo {
  //     padding: 10px 0;
  //     width: 100%;
  //   }
  //   &__title {
  //     text-align: center;
  //     //   font-size: 36px;
  //     line-height: 68px;
  //   }
  //   &__text {
  //     width: 100%;
  //     text-align: center;
  //   }
  //   &__btns {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //   }
  // }

  .usage {
    &__subtitle {
      font-size: 24px;
    }
    &__item {
      width: 190px;
      height: 190px;
      padding: 8px 8px 8px 8px;
      border-radius: 20px;
      &-img {
        display: block;
        margin: 0 auto;
      }
      &-header {
        margin-top: 5px;
      }
      &-text {
        margin-top: 5px;
        font-weight: 500;
        font-size: 11px;
        line-height: 12px;
        //   color: white;
      }
    }
  }

  .price {
    &__items {
      padding: 45px 0 0 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, 365px);
      justify-content: center;
      // grid-template-rows: repeat(3, 44px);
      // column-gap: 25px;
      // row-gap: 15px;
    }

    &__item {
      padding-left: 25px;
      display: grid;
      grid-template-columns: 240px 105px;
      grid-template-rows: repeat(2, 22px);
    }
  }
  footer {
    margin-top: 150px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 98%;
    // padding: 0 10px;
  }
  .navigation {
    width: 100%;
    &__link {
      #logo {
        // margin-left: -10px;
      }
      // &_logo {
      //   img {

      //   }
      // }
    }
    &__list {
      // padding: 0 0px;
    }
    & .hidden-576 {
      //   display: none;
    }
  }
  .promo {
    &__title {
      font-size: 54px;
      line-height: 70px;
      font-weight: 500;
    }

    // .hamburger {
    //   right: 20px;
    // }

    &__subtitle {
      font-size: 16px;
      line-height: 24px;
    }

    &__btns {
      margin-top: 30px;
    }
    &__photo {
      width: 100%;
      height: auto;
      img {
        object-fit: contain;
      }
    }
  }

  .menu {
    &__block {
      // width: 270px;
      width: 75%;
      padding-left: 20px;
    }

    &__link {
      a {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }

  .usage {
    &__subtitle {
      font-size: 22px;
    }
  }
  .price {
    &__items {
      padding: 20px 0 0 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, 290px);
      justify-content: center;
      grid-template-rows: repeat(3, minmax(25px, auto));
      // column-gap: 25px;
      // row-gap: 15px;
    }

    &__item {
      padding-left: 25px;
      display: grid;
      grid-template-columns: 180px 70px;
      grid-template-rows: minmax(22px, auto) minmax(35px, auto);

      &-text {
        align-self: start;
      }
    }
  }

  .contacts {
    &__subtitle {
      font-size: 28px;
      line-height: 40px;
      width: 100%;
      font-weight: 500;
      // color: azure;
    }

    &__wrapper {
      padding: 0px 0px 30px 0px;
      display: grid;
      grid-template-columns: 100%;
    }

    &__form {
      margin-top: 30px;
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 45px 45px 150px minmax(45px, auto);
      row-gap: 25px;

      input {
        width: 100%;
      }

      &-textarea {
        position: relative;
        grid-column: 1/2;

        textarea {
          width: 100%;
        }
      }

      &-button {
        grid-column: 1/2;
        display: flex;

        width: 100%;
        flex-wrap: wrap;

        // grid-template-columns:100%;
        // grid-template-rows: 45px 45px;
        // row-gap: 10px;
        .btn {
          order: 2;
          border: none;
          width: 100%;
          height: 45px;
          font-weight: 700;
          font-size: 14px;
          line-height: 21px;
        }

        &-policy {
          margin: 0 auto;
          display: flex;
          width: 200px;
          align-items: center;
          justify-content: center;
          margin-bottom: 15px;

          input {
            width: 30px;
            margin-right: 0px;
          }

          span {
            width: 170px;
            // align-self: center;
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;

            a {
              display: inline;
            }
          }
        }
      }
    }
  }
  footer {
    margin-top: 100px;
    .background {
      height: 350px;
      svg {
        max-height: 420px;
        min-height: 330px;
      }
    }
    ul {
      li {
        a {
          font-weight: 300;
        }
      }
    }
  }
}

@media (max-width: 429px) {
  .navigation {
    & .hidden-576 {
      display: none;
    }
  }
  .promo {
    &__title {
      font-size: 48px;
      line-height: 46px;
    }
    &__text {
      font-size: 20px;
    }
  }
}
@media (max-width: 389px) {
  footer {
    .background {
      height: 420px;
      svg {
        max-height: 420px;
        min-height: 380px;
      }
    }
    .links {
      flex-direction: column;
      li {
        text-align: center;
      }
    }
  }
}
