.navigation {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 81px;
  background-color: #111723;
  z-index: 99;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  .container {
    border: 1px solid #414a5a;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &__list {
    width: 100%;
    height: 80px;
    margin: 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__link {
    display: block;
    a {
      color: azure;
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 300;
      img {
        width: 70px;
      }
      &#logo {
        font-weight: 400;
        // font-style: italic;
        font-family: "Playpen Sans";
      }
      &#lang {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        //background: linear-gradient(90deg, rgb(244, 42, 139) 0%, rgb(59, 154, 227) 100%);
        background: linear-gradient(90deg, #e100ff 0%, #1590ee 100%);
        width: 70px;
        height: 30px;
        border-radius: 20px;
        span {
          margin-left: 10px;
          display: block;
          font-weight: 400;
          // font-weight: 300;
          // font-size: 14px;
        }
        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
