.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 81px;
  // background-color: #111723;
  background-color: #000000;
  z-index: 99;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  .container {
    border: 1px solid #414a5a;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &__list {
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0 15px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    display: block;
    &_logo {
      width: 75px;
      height: 75px;
      border-bottom-left-radius: 20px;
      img {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 20px;
        object-fit: cover;
      }
    }
    a {
      color: azure;
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 300;
      &#logo {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #letter-logo {
        padding: 3px;
        text-align: left;
        width: 78px;
        height: 80px;
        // line-height: 80px;
        display: block;
        background: linear-gradient(90deg, #e100ff 0%, #1590ee 100%);
        background-clip: text;
        color: transparent;
        font-size: 70px;
        font-family: "Condiment", cursive;
        font-weight: 400;
      }
      img {
        // transform: rotateZ(360deg) rotateX(180deg);
        // height: 80px;
        // width: 106px;
        // width: 70px;
      }
      &#logo {
        font-weight: 400;
        // font-style: italic;
        font-family: "Playpen Sans";
      }
      &#lang {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        //background: linear-gradient(90deg, rgb(244, 42, 139) 0%, rgb(59, 154, 227) 100%);
        background: linear-gradient(90deg, #e100ff 0%, #1590ee 100%);
        width: 70px;
        height: 30px;
        border-radius: 20px;
        span {
          margin-left: 10px;
          display: block;
          font-weight: 400;
          // font-weight: 300;
          // font-size: 14px;
        }
        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
