.promo {
  position: relative;
  min-height: 100vh;
  background: url("../img/newImages/main-gradient.png") no-repeat 50% / cover;
  background-color: #111723;
  // padding-top: 170px;
  padding-top: 110px;
  // box-shadow: 0 10px 5px rgb(59, 59, 59);
  border-bottom: 1px solid #414a5a;
  // &.container {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  // }
  &__main {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: flex-start;
    align-self: flex-start;
    width: 58%;
    height: 100%;
  }
  &__photo {
    // background: url("../img/newImages/code3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    align-self: flex-end;
    width: 40%;
    height: 100%;
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   display: block; /* Or 'block' depending on desired layout */
    //   width: 100%;
    //   height: 100%;

    // }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // width: 520px;
      // height: 600px;
    }
  }
  &__title {
    display: block;
    width: 100%;
    // position: relative;
    // color: rgb(247, 247, 247);
    //text-shadow: rgb(29, 29, 29) 0px 0px 15px;
    //background: linear-gradient(90deg, #f42a8b 0%, #1f89db 100%);
    background: linear-gradient(90deg, #e100ff 0%, #1590ee 100%);
    background-clip: text;
    color: transparent;
    font-family: "Nunito Sans", sans-serif;
    font-size: 80px;
    line-height: 94px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
  }
  &__text {
    display: block;
    width: 90%;
    font-size: 22px;
    line-height: 28px;
    margin: 0px;
    z-index: 16;
    color: azure;
    font-weight: 300;
  }

  &__subtitle {
    font-size: 50px;
    margin-left: 10px;
    position: relative;
    @include before_circle;
    z-index: 2;

    // &::before {
    //     content: "";
    //     background: url("../img/mini-photo.jpg");
    //     position: absolute;
    //     width: 160px;
    //     height: 160px;
    //     border-radius: 100%;
    //     top: 25px;
    // }
  }

  // h1 {
  //   // margin-top: 20px;
  //   margin-bottom: 25px;
  //   color: rgb(240, 240, 240);
  // }

  &__btns {
    margin-top: 70px;
    // margin-left: 20px;
    // margin-bottom: 30px;
    //  width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-radius: 20px;
  }

  .promo__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(240, 240, 240);
    font-weight: 400;
    font-size: 16px;
    border: none;
    text-decoration: none;
    &.btn {
      width: 180px;
      height: 55px;
    }
  }
}
