.promo {
  position: relative;
  height: calc(100vh - 82px);
  background: url("../img/newImages/main-gradient.png") no-repeat 50% / cover;
  background-color: #111723;
  margin-top: 82px;
  border-bottom: 1px solid #414a5a;
  & .container {
    height: 100%;
  }
  &__main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 20px;
  }
  &__description {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: flex-start;
    align-self: flex-start;
    width: 54%;
    height: 100%;
  }
  &__photo {
    position: relative;
    // background: url("../img/DOCTYPE.png");

    // background-repeat: no-repeat;
    // background-position: start center;
    // background-size: cover;
    // display: flex;
    // justify-content: center;
    // align-items: flex-end;
    width: 45%;
    height: 100%;
    overflow: hidden;
    pre {
      color: azure;
      width: 100%;
      code {
        display: inline-block;
        color: #e100ffad;
        color: #1590eecb;
        width: 100%;
        font-size: 12px;
        line-height: 17px;
        white-space: pre-wrap;
        span {
          color: white;
        }
      }
    }

    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__title {
    display: block;
    width: 100%;
    background: linear-gradient(90deg, #e100ff 0%, #1590ee 100%);
    background-clip: text;
    color: transparent;
    font-family: "Nunito Sans", sans-serif;
    font-size: 80px;
    line-height: 94px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
  }
  &__text {
    margin-top: 30px;
    display: block;
    width: 100%;
    font-size: 22px;
    line-height: 28px;
    // margin: 0px;
    z-index: 16;
    color: azure;
    font-weight: 300;
    a {
      color: #1590ee;
      text-decoration: none;
      cursor: pointer;
      background: linear-gradient(90deg, #e100ff 0%, #1590ee 100%);
      background-clip: text;
      color: transparent;
      font-weight: 500;
    }
  }

  &__subtitle {
    font-size: 50px;
    margin-left: 10px;
    position: relative;
    @include before_circle;
    z-index: 2;
  }

  &__btns {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .promo__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(240, 240, 240);
    font-weight: 400;
    font-size: 16px;
    border: none;
    text-decoration: none;
    &.btn {
      width: 180px;
      height: 55px;
      position: relative; /* Для позиционирования блика */
      overflow: hidden; /* Чтобы блик не выходил за пределы кнопки */
      &:hover {
        opacity: 0.85;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%; /* Изначально вне кнопки */
        width: 50%;
        height: 100%;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.4) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        transform: skewX(-25deg); /* Поворот блика */
        opacity: 0; /* Сначала блик не видим */
        animation: shine 2s linear infinite;
      }
    }
  }
}
.icon-scroll {
  width: 20px;
  height: 35px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: inset 0 0 0 2px azure;
  border-radius: 25px;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #fff;
    margin-left: -2px;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    border-radius: 100%;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }
}

.cursor {
  display: inline-block;
  animation: blink 0.7s steps(1) infinite;
  user-select: none;
  vertical-align: bottom;
}

[data-typewriter] {
  visibility: hidden;
  transition: visibility 0.3s ease;
  &.visible-text {
    visibility: visible;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes shine {
  0% {
    left: -100%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
